
<header>
  <nav class="navbar navbar-expand-lg "  style="background-color: #e3e3e3;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#one">Search</a>
          <a class="nav-link" href="#two">Features</a>
          <a class="nav-link" href="#three">Contact Us</a>
          
        </div>
      </div>
    </div>
  </nav>
</header>

 <!--  Selector As An Element Name -->
<app-child-one id="one" ></app-child-one> 


<!-- Selector as a attribute name -->
<div app-child-two  id="two"></div>

<!-- Selector as a Class name -->
<div class="app-child-three" id="three"></div>




  <footer class=" text-center text-lg-start " style="background-color: #e3e3e3;">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #e3e3e3;">
      © 2023 Copyright:
      <a class="text-dark" href="#/">Rahul.com</a>
    </div>
    <!-- Copyright -->
  </footer>


<router-outlet ></router-outlet>
