<div class="container">

    <div class="grid text-center " id="row">
        
        <div class="g-col-6">
            <img src="../../../assets/images/en-img-brand-lander-professional-email.webp" alt="Image" srcset="">
            <div class="title">
                <p>Professional Email</p>
                <div class="sub">
                    Show customers you’re a pro with an email address that matches your domain. Get Professional Email today.
                </div>
                <div class="btn"><button type="button" class="btn btn-outline-success">Explore More</button></div>
            </div>
        </div>
        <div class="g-col-6">
            <img src="../../../assets/images/en-img-brand-lander-web-hosting.webp" alt="Image" srcset="">
            <div class="title">
                <p>Web Hosting</p>
                <div class="sub">
                    Whether you want hosting for one or 100 websites, we’ve got plans to keep everything running in peak form.
                </div>
                <div class="btn"><button type="button" class="btn btn-outline-success">Explore More</button></div>
            </div>
        </div>
        
      </div>

</div>
